html, body, .main{
    height: 100%;
}

body {
    width: 300%;
    font-family: 'Cuprum', sans-serif;
    color: #111111;
    background-color: #fff;
}

.heading-primary {
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 1.3rem;
}



@media all and (max-width: $width-break-point) {
    body, html, .main {
        width: 100%;
    }

    .heading-primary {
        font-size: 2rem;
        letter-spacing: inherit;
    }
}      

